<configuration>
	<system.web>
		<compilation defaultLanguage="C#" debug="true">
			<assemblies>
			</assemblies>
		</compilation>
		<customErrors mode="RemoteOnly">
		</customErrors>
		<authentication mode="None">
		</authentication>
		<authorization>
			<allow users="*" />
		</authorization>
		<httpHandlers>
		</httpHandlers>
		<trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
		<sessionState mode="InProc" cookieless="false" timeout="20" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
		<pages>
		</pages>
	</system.web>
</configuration>
